<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="brandid" value="xdrqlG147667044130"/>
    <add key="urlgetcardtype" value="http://new.xy-asia.com/Api/Member/getCardType/addon/MemberCard"/>
    <add key="urlgetcardtypecount" value="http://new.xy-asia.com/Api/Member/getMemberTotal/addon/MemberCard"/>
    <add key="urlgetcard" value="http://new.xy-asia.com/Api/Member/getMember/addon/MemberCard"/>
    <add key="urlpostcard" value="http://new.xy-asia.com/Api/Brand/batchImportMember/addon/Dining"/>
    <add key="urlgetcardtypenew" value="http://new.xy-asia.com/Api/Brand/getCardType/addon/Dining"/>
  </appSettings>
</configuration>